{% extends "base.html" %}

{% block title %}Задачи{% endblock %}


{% block content %}
    Всего задач: <b>{{ task_count }}</b> <br>
    {% if request.user.is_authenticated %}
        <a href="{% url 'taskadd' %}">
            <button type="button" class="btn btn-success">Добавить задачу</button>
        </a>
    {% endif %}
    {% if task_list %}

        <div class="table-responsive-sm">

            <table class="table table-sm table-hover">
                <thead class="thead-light">
                <tr>
                    <th style="text-align:center" scope="col">#</th>
                    <th style="text-align:center" scope="col">Проект</th>
                    <th style="text-align:center" scope="col">Трекер</th>
                    <th style="text-align:center" scope="col">Статус</th>
                    <th style="text-align:center" scope="col">Приоритет</th>
                    <th style="text-align:center" scope="col">Описание</th>
                    <th style="text-align:center" scope="col">Готовность</th>
                </tr>
                </thead>
                <tbody>

                {% for tasks in task_list %}
                    <tr>
                        <th style="text-align:center" scope="row"><a href="{% url 'project:task_view' tasks.id %}">{{ tasks.pk }}</a></th>
                        <td style="text-align:center">{% if tasks.tasks_project_id %}
                            {{ tasks.tasks_project_id }} {% else %} - {% endif %}</td>
                        <td style="text-align:center">{{ tasks.tasks_tracker }}</td>
                        <td style="text-align:center">{{ tasks.tasks_status }}</td>
                        <td style="text-align:center">{{ tasks.tasks_priority }}</td>
                        <td style="text-align:center"><a href="{% url 'project:task_view' tasks.id %}">{{ tasks.tasks_title }}</a></td>
                        <td style="text-align:center">{{ tasks.tasks_prepared }}%</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <nav aria-label="task_list">
                <ul class="pagination">

                    {% if project_list.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ task_list.previous_page_number }}">Назад</a>
                        </li>
                    {% endif %}

                    {% for num in task_list.paginator.page_range %}
                        {% if num == task_list.number %}
                            <li class="page-item active" aria-current="page"><span class="page-link">{{ num }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}"> <b>{{ num }}</b> </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if task_list.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ task_list.next_page_number }}">
                            Далее
                        </a></li>
                    {% endif %}

                </ul>
            </nav>


        </div>

    {% endif %}
{% endblock %}